# top-most EditorConfig file
root = true

# 4-space indentation
[*]
indent_style = space
indent_size = 4

[*.tf]
indent_style = space
indent_size = 4

# End of line
end_of_line = lf

# Charset
charset = utf-8